* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.induction-year {
    display: flex;
    justify-content: right;
    margin: 0 20px;
}

.active {
    background-color: darkgreen !important;
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    color: white;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.year {
    color: black;
    outline: none;
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    background-color: #152238;
    color: white;
    width: 200px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.flex {
    display: flex;
    height: 300px;
    background: #152238;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 10px;
    width: 450px;
    height: auto;
}

.name_and_details {
    margin-left: 20px;
    margin-top: 30px;
}

.icons button {
    background: none;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}

.icons i {
    font-size: 20px;
}

.title {
    font-size: 20px;
    margin: 20px 0;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.name p {
    font-family: sans-serif;
    font-size: 28px;
    margin-bottom: 10px;
    position: relative;
}

.name p::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    background-color: white;
    width: 80px;
    height: 3px;
}

.details p {
    margin-top: 20px;
    font-size: 20px;
}

.btn {
    padding: 10px;
    background: royalblue;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 22px;
}

.btn-more {
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 5px;
    background: green;
    cursor: pointer;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.btn-more a {
    text-decoration: none;
}

.hide {
    display: none;
}

.officials-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    height: auto;
    background-color: #252525;
    padding: 8rem 0;
}

.officials-container button {
    cursor: pointer;
}

.officials-container > button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 5px;
    background-color: maroon;
}

.officials-container .fa-sharp {
    font-size: 50px;
    color: white;
}

.official-info {
    margin-top: -2rem;
}

.official-info .name {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.flexed {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexed img {
    width: 400px;
    height: 400px;
}

.flexed .paragraph {
    width: 400px;
    margin-left: 40px;
    height: 400px;
    line-height: 25px;
    font-size: 20px;
}

.officials-container button {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
}

.title {
    text-align: center;
    font-family: sans-serif;
    font-size: 28px;
    margin-bottom: 3rem;
}
