@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;0,700;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
/* global styles */
:root {
  --dark-text: #222247;
  --light-text: gray;
  --white: #fff;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark-text);
}
.wrapper {
  background: url("/bg-1.svg") no-repeat;
  background-size: cover;
  transition: all 0.1s ease-in;
}
.flex{
    display: flex;
}
.flex-col{
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.h-80 {
  height: 80px;
}
.shadow-md{
box-shadow: 1px 1px 5px 0 lightgray;
}
.ml-10{
  margin-left: 10px;
}
.mr-10{
  margin-right: 10px;
}